body  {
    background-color: black;
    font-family: 'Play', sans-serif;
  }

.portfolio {
    margin-top: 20px;
    margin-left: 80px;
}

/* Received fonts from http://www.fonts.google.com */

.navheader {
    font-weight: bold;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.article {
    font-size: 18px;
    margin-top: 30px;
}
.contact {
    margin-left: 170px;
}

.section {
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
}

/* Learned list style type from https://www.bitdegree.org/learn/css-list-style */
li  {
    text-align: center;
    list-style-type: none;
}

ul  {
    text-align: center;
}

.form {
    font-family: 'Play', sans-serif;
    font-size: 18px;
}

.container {
    margin-top: 80px;
    background-color: #F8F9FA;
}

/* footer {
    margin-top: 100px;
    text-align: center;
    background-color: #F8F9FA;
} */