.portfolio {
    margin-top: 20px;
}

.header {
    font-family: 'Play', sans-serif;
    font-weight: bold;
}
.article {
    font-family: 'Play', sans-serif;
    font-size: 18px;
}
.nav {
    font-family: 'Play', sans-serif;
}

.section {
    font-family: 'Play', sans-serif;
    text-align: center;
    font-size: 18px;
    margin-top: 80px;
}